<!DOCTYPE html>
<html layout:decorate="~{template.html}">
<head>
    <title>Novo lançamento</title>
</head>
<body>
<div layout:fragment="content">
    <form method="post" th:object="${mes}">
        <label>Ano</label>
        <input placeholder="Ano" type="number" min="2018" max="2025" th:field="*{ano}" required value="2018" >

        <label>Mês</label>
        <select th:field="*{mes}">
            <option value="" disabled selected>Mês</option>
            <option th:each="mesEnum : ${MesesEnum}"
                    th:value="${mesEnum}"
                    th:text="${mesEnum}">Janeiro</option>
        </select>

        <button type="submit" name="addRow" >Add row</button>

        <div th:each="dia,rowStat : *{dias}">
            <label>Dia</label>
            <input placeholder="Dia" type="number" min="1" max="31" th:field="*{dias[__${rowStat.index}__].dia}" required>

            <div th:each="periodo,rowStat2 : *{dias[__${rowStat.index}__].periodos}">
                <input placeholder="Inicio" type="String" th:field="*{dias[__${rowStat.index}__].periodos[__${rowStat2.index}__].inicio}" required>
                <input placeholder="Inicio" type="String" th:field="*{dias[__${rowStat.index}__].periodos[__${rowStat2.index}__].fim}" required>
            </div>
        </div>

    </form>
</div>
</body>
</html>